﻿@model DelegatesFileUploader.Models.DelegatesViewModel


@{
    ViewData["Title"] = "Alojamiento especial";
}
<h1>Importar alojamiento especial</h1>
@if (Model.Init)
{
    <div class="row">
        <section>
            Última actualización de datos: @Model.LastChangeDate?.ToString("dd/MM/yyyy HH:mm:ss")
        </section>
    </div>
    <hr />
    <div class="row">
        De dónde sacar el excel?

        ADMINISTRAR > ALOJAMIENTO > ALOJAMIENTO ESPECIAL

        Download CSV
    </div>
    <div class="row">
        <section>
            @*asp-action="Index"*@
            <form method="post" enctype="multipart/form-data" action="SpecialRooming">

                <div class="form-group">
                    <label for="fileInput">Archivo de special rooming</label>
                    <input id="fileInput" type="file" class="form-control-file" name="file" accept=".xlsx" />
                </div>
                <div class="form-group">
                    <label for="passwordInput">Password</label>
                    <input type="password" class="form-control" id="passwordInput" name="password" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-primary">Subir</button>
            </form>
        </section>
    </div>
}
else
{
    <div class="row">
        @if (Model.ErrorMessage == null)
        {
        <div class="alert alert-success">@Model.SuccessfulMessage</div>
        }
        else
        {
            <div class="alert alert-danger">@Model.ErrorMessage</div>
        }
    </div>
}
<hr />