﻿@model DelegatesFileUploader.Models.DelegatesViewModel


@{
    ViewData["Title"] = "Delegados";
}
<h1>Importar delegados</h1>
@if (Model.Init) { 
    <div class="row">
        <section>
            Última actualización de datos: @Model.LastChangeDate?.ToString("dd/MM/yyyy HH:mm:ss")
        </section>
    </div>
    <div class="row">
        <section>
            @*asp-action="Index"*@
            <form method="post" enctype="multipart/form-data" action="/">

                <div class="form-group">
                    <label for="fileInput">Archivo de delegados</label>
                    <input id="fileInput" type="file" class="form-control-file" name="file" accept=".xls,.xlsx" />
                    @*<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>*@
                </div>
                <div class="form-group">
                    <label for="passwordInput">Password</label>
                    <input type="password" class="form-control" id="passwordInput" name="password" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-primary">Subir</button>
            </form>
        </section>
    </div>
}
else
{
<div class="row">
    @if (Model.ErrorMessage == null)
    {
    <div class="alert alert-success">@Model.SuccessfulMessage</div>
    }
    else
    {
        <div class="alert alert-danger">@Model.ErrorMessage</div>
    }
</div>
}
<hr />