<h1>Importación de datos para Metabase</h1>

<div class="row"></div>

<form class="col-sm-6" [formGroup]="form" (ngSubmit)="importFile()">

  <div class="form-group">
    <label for="inputFileType">Tipo de archivo <span class="required">*</span></label>
    <select class="custom-select" id="inputFileType" formControlName="entity">
      <option [ngValue]="null">Elija el tipo de archivo</option>
      <option [ngValue]="'delegates'">Delegados</option>
      <option [ngValue]="'delegateactivities'">Actividades</option>
      <option [ngValue]="'specialrooming'">Alojamiento especial</option>
      <!--<option [ngValue]="'volunteers'">Voluntarios</option>
      <option [ngValue]="'volunteerassignments'">Asignaciones de voluntarios</option>-->
    </select>
  </div>

  <div class="form-group">
    <label for="inputFile">Archivo <span class="required">*</span></label>
    <input type="file" class="form-control" id="inputFile" (change)="uploadFile($event)" [disabled]="processing" [accept]="form.value.entity == 'delegateactivities' || form.value.entity == 'volunteerassignments' ? '.csv' : '.xlsx'">
  </div>

  <div class="form-group" >
    <label for="inputUser">Usuario <span class="required">*</span></label>
    <input type="text" class="form-control" id="inputUser" aria-describedby="userHelp" placeholder="Ingrese el usuario" formControlName="username" >
  </div>
  <div class="form-group">
    <label for="inputPassword">Password <span class="required">*</span></label>
    <input type="password" class="form-control" id="inputPassword" placeholder="Password" formControlName="password" >
  </div>

  <div class="form-group">
    <button class="btn btn-primary btn-block btn-lg" [disabled]="!form.valid ||  processing">Importar archivo</button>
  </div>

  <!-- Progress Bar -->
  <div class="progress form-group" *ngIf="progress > 0">
    <div class="progress-bar progress-bar-striped bg-success" role="progressbar" [style.width.%]="progress">
    </div>
  </div>

  <div class="progress form-group" *ngIf="progress2 > 0">
    <div class="progress-bar progress-bar-striped active" role="progressbar" [style.width.%]="progress2">
    </div>
    <small id="emailHelp" class="form-text text-muted">{{progressMessage}}</small>
  </div>

</form>

<div class="row" *ngIf="result">
  <div class="alert alert-success" *ngIf="result.successfulMessage">{{result.successfulMessage}}</div>
  <div class="alert alert-danger" *ngIf="result.errorMessage">{{result.errorMessage}}</div>
</div>

