<h1>Formularios Plusmar para la CNRT</h1>


<form class="col-sm-6" [formGroup]="form" (ngSubmit)="generatePassengerList()">

  <div class="form-group">
    <label for="inputName">Nombre/Denominación <span class="required">*</span></label>
    <input type="text" class="form-control" id="inputName" aria-describedby="userHelp" placeholder="Nombre/Denominación" formControlName="name">
  </div>

  <div class="form-group">
    <label for="inputCuit">CUIT <span class="required">*</span></label>
    <input type="text" class="form-control" id="inputCuit" aria-describedby="userHelp" placeholder="CUIT" formControlName="cuit">
  </div>

  <div class="form-group">
    <label for="inputDomicilio">Domicilio <span class="required">*</span></label>
    <input type="text" class="form-control" id="inputDomicilio" aria-describedby="userHelp" placeholder="Domicilio" formControlName="address">
  </div>

  <div class="row">
    <div class="form-group col-sm-6">
      <label for="inputFrom">Desde (Se incluirá todo el día) <span class="required">*</span></label>
      <input type="date" class="form-control" id="inputFrom" aria-describedby="userHelp" formControlName="dateFrom">
    </div>
    <div class="form-group col-sm-6">
      <label for="inputFrom">Hasta (Se incluirá todo el día) <span class="required">*</span></label>
      <input type="date" class="form-control" id="inputTo" aria-describedby="userHelp" formControlName="dateTo">
    </div>
  </div>

  <div class="form-group">
    <label for="inputUser">Usuario <span class="required">*</span></label>
    <input type="text" class="form-control" id="inputUser" aria-describedby="userHelp" placeholder="Ingrese el usuario" formControlName="username">
  </div>
  <div class="form-group">
    <label for="inputPassword">Password <span class="required">*</span></label>
    <input type="password" class="form-control" id="inputPassword" placeholder="Password" formControlName="password">
  </div>

  <div class="form-group">
    <button class="btn btn-primary btn-block btn-lg" [disabled]="!form.valid ||  processing">Generar archivos</button>
  </div>

  <!-- Progress Bar -->
  <div class="progress form-group" *ngIf="progress > 0">
    <div class="progress-bar progress-bar-striped active" role="progressbar" [style.width.%]="progress">
    </div>
  </div>
  <small id="emailHelp" class="form-text text-muted">{{progressMessage}}</small>

</form>

<div class="row" *ngIf="result">
  <div class="alert alert-success" *ngIf="result.successfulMessage">{{result.successfulMessage}}</div>
  <div class="alert alert-danger" *ngIf="result.errorMessage">{{result.errorMessage}}</div>
</div>

