﻿@model DelegatesFileUploader.Models.FlightsViewModel


@{
    ViewData["Title"] = "Vuelos";
}
<h1>Vuelos</h1>
<div class="row">
    <section>
        @*asp-action="Index"*@
        <form>
            <div id="fform"  class="form-group">
                @Html.LabelFor(model => model.InitialDate, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-12">
                    @Html.TextBoxFor(model => model.InitialDate,  "{0:yyyy-MM-dd}", new { @type = "date", @class = "form-control datepicker" })
                    @Html.ValidationMessageFor(model => model.InitialDate, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-12">
                    @Html.TextBoxFor(model => model.Password, new { @type = "password", @class = "form-control", @Value = string.Empty })

                </div>                
            </div>    
            <button id="update" class="btn btn-primary">Actualizar</button>
        </form>
        <div id="result"></div>
    </section>
</div>
<hr />

@section Scripts{
    <script>

        $(document).ready(function () {

            $("#update").click(function (e) {                
                var data = getFormData($("form"));               


                $.ajax({
                    url: 'Flights/update',
                    dataType: 'json',
                    type: 'post',
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify(data),
                    success: function( data, textStatus, jQxhr ){
                        //alert("Data: " + data + "\nStatus: " + textStatus);

                        //adding a 'x' button if the user wants to close manually
                         $("#result").html('<div class="alert alert-success"><button type="button" class="close">×</button>Se actualizó exitosamente</div>');

                         //timing the alert box to close after 5 seconds
                         window.setTimeout(function () {
                             $(".alert").fadeTo(500, 0).slideUp(500, function () {
                                 $(this).remove();
                             });
                         }, 5000);

                        //Adding a click event to the 'x' button to close immediately
                         $('.alert .close').on("click", function (e) {
                             $(this).parent().fadeTo(500, 0).slideUp(500);
                         });

                    },
                    error: function( jqXhr, textStatus, errorThrown ){
                        

                        //adding a 'x' button if the user wants to close manually
                         $("#result").html('<div class="alert alert-danger"><button type="button" class="close">×</button>'+errorThrown+'</div>');

                         //timing the alert box to close after 5 seconds
                         window.setTimeout(function () {
                             $(".alert").fadeTo(500, 0).slideUp(500, function () {
                                 $(this).remove();
                             });
                         }, 5000);

                        //Adding a click event to the 'x' button to close immediately
                         $('.alert .close').on("click", function (e) {
                             $(this).parent().fadeTo(500, 0).slideUp(500);
                         });
                    }
                });

                e.preventDefault();

            });
        });


        function getFormData($form){
            var unindexed_array = $form.serializeArray();
            var indexed_array = {};

            $.map(unindexed_array, function(n, i){
                indexed_array[n['name']] = n['value'];
            });

            return indexed_array;
        }

         

    </script>
}